@model IEnumerable<SportSchoolApplication.Models.ApplicationUser>

@{
    ViewBag.Title = "Контакты спортсменов";
}

<h2>Контакты спортсменов</h2>


<table class="table">
    <tr>
        <th>
           <p>ФИО</p>
        </th>
        <th>
            <p>Номер телефона</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
    </tr>
}

</table>
