
@{
    ViewBag.Title = "Главная";
}
<h2>Главная</h2>
<br />
<style>
    td {
        padding: 5px;
    }
</style>
<body>
    <div align="justify">
        Пауэрли́фтинг (англ. powerlifting; power — «сила, мощь» + lifting — «поднятие») или силовое троеборье — силовой вид спорта,
        суть которого заключается в преодолении сопротивления максимально тяжёлого для спортсмена веса.
        <br />
        Пауэрлифтинг также называют силовым троеборьем. Связано это с тем, что в качестве соревновательных дисциплин в него входят три упражнения:
        приседания со штангой на спине (точнее на верхней части лопаток),
        жим штанги лёжа на горизонтальной скамье и тяга штанги — которые в сумме определяют квалификацию спортсмена.
    </div>
    <br />
    <br />
    <table>
        <tr>
            <td>
                <img src="~/Images/Index/Squad.png" width="450px" height="270px" />
            </td>
            <td align="justify">
                Приседа́ния — одно из базовых силовых упражнений (в том числе в пауэрлифтинге и культуризме); выполняющий упражнение приседает и затем встаёт,
                возвращаясь в положение стоя. Приседание считается одним из важнейших упражнений не только в силовом спорте, но и в общефизической подготовке,
                а также используется в качестве подсобного в процессе подготовки спортсменов практически всех спортивных дисциплин.

            </td>
        </tr>
        <tr>
            <td>

                <img src="~/Images/Index/Benchpress.jpg" width="450px" height="270px" />
            </td>
            <td align="justify">
                Жим лёжа — базовое физическое упражнение со свободным весом. Выполняющий упражнение ложится на скамейку, опускает гриф до касания с грудью и
                поднимает до полного выпрямления в локтевом суставе. Используется в бодибилдинге как упражнение для развития больших и малых грудных мышц,
                трицепсов и переднего пучка дельтовидной мышцы.
                <br />
                Является одной из основных дисциплин в пауэрлифтинге (наряду c приседанием и становой тягой), где используется отличная от
                бодибилдинга техника: с целью жима максимально большого веса напрягаются трицепсы, передние пучки дельтовидных мышц и широчайшие мышцы спины;
                роль грудных мышц значительно снижена.

            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Index/Deadlift.jpg" width="450px" height="270px" />
            </td>
            <td align="justify">
                Становая тяга — базовое (многосуставное) упражнение, выполняемое обычно со штангой, а также с гантелью или гирей, удерживаемыми обеими руками
                и поднимаемая на уровень опущенных вытянутых рук. Используется как общий элемент физической подготовки и является одной из соревновательных
                дисциплин в таких видах спорта как пауэрлифтинг и силовой экстрим, применяется также и бодибилдерами для укрепления мышц поясницы, что позволяет
                в приседаниях лучше развивать ноги.
            </td>
        </tr>
    </table>
</body>