@model SportSchoolApplication.Models.Photo

@{
    ViewBag.Title = "Фотография";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>Фотография</h2>



<img src="@Model.PhotoPath"  class="photo"/>
