
.vs/config/applicationhost.config
.vs/SportSchoolApplication/v15/Server/sqlite3/
SportSchoolApplication/obj/Debug
SportSchoolApplication/App_Data/aspnet-SportSchoolApplication-20210210015448.mdf
SportSchoolApplication/App_Data/aspnet-SportSchoolApplication-20210210015448.mdf
SportSchoolApplication/App_Data/aspnet-SportSchoolApplication-20210210015448_log.ldf
*.mdf
*.ldf
