body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Images/Background.jpg');
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;

    background-image: url('../Images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}